<% if @records.present? %>
  <h1 class="ms-5 mt-5 mb-5"><%= @destination.place %></h1>

  <div class='googlemap' id='map'></div>

  <h1>距離：<%= @distance %>km</h1>

  <div class="table-responsive small px-4 py-5 my-5">
    <table class="table table-striped table-sm">
      <tbody>
        <tr>
          <td>宿代</td>
          <td id="accommodation_fee"><%= @record.accommondation_fee %></td>
        </tr>
        <tr>
          <td>ガソリン代</td>
          <td id="gasoline_fee"><%= @record.gasoline_cost %></td>
        </tr>
        <tr>
          <td>食費</td>
          <td id="food_fee"><%= @record.food_expenses %></td>
        </tr>
        <tr>
          <td>高速代</td>
          <td id="express_fee"><%= @record.express_fee %></td>
        </tr>
        <tr>
          <td>合計</td>
          <td><span id='total'>0</span></td>
        </tr>
      </tbody>
    </table>
  </div>

  <%= link_to "経費編集", "/destinations/#{@destination.id}/departures/#{@destination.departure.id}/records/#{@destination.departure.id}/edit" %>
  <%= link_to "経費登録", "/destinations/#{@destination.id}/departures/#{@destination.departure.id}/records/new" %>
  <%= link_to '戻る', :back %>
<% else %>
  <h1 class="ms-5 mt-5 mb-5"><%= @destination.place %></h1>

  <div class='googlemap' id='map'></div>

  <h1>距離：<%= @distance %>km</h1>
  <h1>経費登録がされていません</h1>
<% end %>

<script>
  let map
  
  function initMap(){
    geocoder = new google.maps.Geocoder()
    var test ={lat: <%= @destination.latitude %>, lng: <%= @destination.longitude %>};
  
    map = new google.maps.Map(document.getElementById('map'), {
      center: test,
      zoom: 15,
      mapTypeControl: false,  
      streetViewControl: false
    });

    var contentString = '住所：<%= @destination.address %>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
  
    marker = new google.maps.Marker({
      position:  test,
      map: map,
      title: contentString
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?ENV['GOOGLEMAP']&callback=initMap" async defer></script>