<h1 class="ms-5 mt-5 mb-5"><%= @destination.place %></h1>

<div class="table-responsive small px-4 py-5 my-5">
  <table class="table table-striped table-sm">
    <tbody>
      <tr>
        <td>宿代</td>
        <td><%= @record.accommondation_fee %></td>
      </tr>
      <tr>
        <td>ガソリン代</td>
        <td><%= @record.gasoline_cost %></td>
      </tr>
      <tr>
        <td>食費</td>
        <td><%= @record.food_expenses %></td>
      </tr>
      <tr>
        <td>高速代</td>
        <td><%= @record.express_fee %></td>
      </tr>
      <tr>
        <td>合計</td>
        <td><%= @record.total %></td>
      </tr>
    </tbody>
  </table>
</div>

<%= link_to "編集", edit_destination_path(@destination.id) %>
<%= link_to "経費登録", new_destination_record_path(@destination.id) %>
<%= link_to '戻る', :back %>