<div class="bd-cheatsheet container-fluid bg-body">
  <div class="my-3" id="sizing">
    <div class="bd-heading sticky-xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2">
      <h3>目的地を登録</h3>
    </div>

    <%= form_with model: @destination_departure, url: destinations_path, local: true do |f| %>
      <div class="mb-3">
        <%= f.label :場所 %>
        <%= f.text_field :place, class: "form-control form-control-lg", placeholder: "滋賀県" %>
      </div>
      <div class="mb-3">
        <%= f.label :郵便番号 %>
        <%= f.text_field :address, class: "form-control form-control-lg", placeholder: "1230000" %>
      </div>
    <div class="bd-heading sticky-xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2">
      <h3>出発地を登録</h3>
    </div>
      <div class="mb-3">
        <%= f.label :場所 %>
        <%= f.text_field :spot, class: "form-control form-control-lg", placeholder: "東京都" %>
      </div>
      <div class="mb-3">
        <%= f.label :郵便番号 %>
        <%= f.text_field :location, class: "form-control form-control-lg", placeholder: "1230000" %>
      </div>
    <div class="bd-heading sticky-xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2">
      <h3>期間を登録</h3>
    </div>
      <div class="mb-3">
        <%= f.label :出発日 %>
        <%= f.text_field :start_date, class: "form-control form-control-lg", placeholder: "2023-10-26" %>
      </div>
      <div class="mb-3">
        <%= f.label :帰着日 %>
        <%= f.text_field :end_date, class: "form-control form-control-lg", placeholder: "2023-10-27" %>
      </div>
    <div class="bd-heading sticky-xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2">
      <h3>テーマ画像を登録</h3>
    </div>
      <div class="mb-5">
        <%= f.label :画像 %>
        <%= f.file_field :image, class: "form-control form-control-lg" %>
      </div>
      
      <div class="md-3">
        <%= f.submit "登録", class: "btn btn-primary btn-lg px-4 gap-3 mx-auto d-block w-25" %>
      </div>
    <% end %>

  </div>
</div>