<h1 class="ms-5 mt-5 mb-5"><%= @destination.place %></h1>



<%= link_to "編集", edit_destination_path(@destination.id) %>
<%= link_to "経費登録", new_destination_record_path(@destination.id) %>
<%= link_to "経費", destination_record_path(@destination.id) %>
<%= link_to '戻る', :back %>